<%# coding: UTF-8 %>

<!DOCTYPE html>
<html>
<head>
  <title><%= @title ? "#{@title} - " : '' %>News Memory</title>
  <meta charset="utf-8">
  <%= css @css %>
  <%= js @js %>
  <!--[if IE]><script type="text/javascript" src="/datepicker/bgiframe.js"></script><![endif]-->
 </head>
<body>

<%= yield %>

</body>
</html>