#messages {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  background-color: #F5F5F5;
  font-weight: bold;
}

#notice {
  border: 2px solid green;
  padding: 2px;
}

#warning {
  border: 2px solid orange;
  padding: 2px;
}

#error {
  border: 2px solid red;
  padding: 2px;
}

#adminPageTitle {
  padding-bottom: 10px;
  padding-left: 20px;
  font-size: 32px;
}

fieldset {
  padding: 5px;
  border: 1px solid #b0b0b0;
  margin-bottom: 10px;
}

fieldset li {
  list-style: none;
  padding-bottom: 4px;
}

fieldset ul {
  padding-bottom: 5px;
}

#adminContent {
  position: absolute;
  top: 25px;
  left: 10px;
}

#adminContent td {
  vertical-align: top;
}

#adminLeft {
  padding-right: 20px;
  width: 400px;
}

#adminRight table {
  border-collapse: collapse;
}

#adminRight table td, #adminRight table th {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
  border: 1px solid #b0b0b0;
}
